# =========================
# Symfony
# =========================
APP_ENV=dev
APP_SECRET=your_app_secret_here
APP_URL=http://127.0.0.1:8000

# =========================
# Mailer
# =========================
MAILER_DSN=null://null

# =========================
# Database
# =========================
DATABASE_URL="mysql://username:password@127.0.0.1:3306/database_name?serverVersion=8.0"

# =========================
# Mercure
# =========================
MERCURE_URL=http://127.0.0.1:3000/.well-known/mercure
MERCURE_PUBLIC_URL=http://127.0.0.1:3000/.well-known/mercure
MERCURE_JWT_SECRET=your_mercure_secret

# =========================
# Notifier
# =========================
TWILIO_DSN=twilio://ACCOUNT_SID:AUTH_TOKEN@default?from=+0000000000
MERCURE_DSN=mercure://127.0.0.1:3000/.well-known/mercure?secret=your_mercure_secret

# =========================
# Google OAuth
# =========================
GOOGLE_CLIENT_ID=your_google_client_id
GOOGLE_CLIENT_SECRET=your_google_client_secret

# =========================
# Application
# =========================
AI_COACH_ID=1

# =========================
# Debug
# =========================
VAR_DUMPER_SERVER=127.0.0.1:9912

# =========================
# Mistral AI
# =========================
MISTRAL_API_KEY=your_mistral_api_key
